/* 
    1. reset style
    태그들에게 적용되어있는 기본스타일 제거
    우선순위점수 최대한 낮게 설정이 되도록 한다.
*/
*{margin: 0; padding: 0;}
a{color: inherit; text-decoration: none;}
b,strong,h1,h2,h3,h4,h5,h6{
    font-weight: inherit; font-size: inherit;
}
i,em,address{font-style: inherit;}
/* 
    2. common - 공통스타일
    전반적으로 따르는 스타일들은 취상위 태그에게 적용해서
    상속이 되게끔 유도한다.
    보통 - 글씨체를 일괄적용할 때 
*/
html{
    font-family: "Times New roman";
    font-size: 14px;
    /* 1rem == 14px */
}
body{background-color:ivory;}
/* 
    3. big layout (대략적인 배치)
    큰 영역 -> 작은 영역 순으로 크기와 배치를 설정 
*/
.wrap{
    width: 900px;
    margin: 0 auto;
    background: url(../img/KakaoTalk_20240404_142713137.jpg) no-repeat 100% 100%;
}
/*4. 디테일*/
.wrap h1{
    background-color: green;
    color: white;
    text-align: center;
    font-size: 3.4rem;
    font-weight: bold;
    padding: 12px 0;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    margin-bottom: 10px;
}
.wrap > h2{
    background-color: orange;
    font-weight: bold;
    font-size: 2.14rem;
    border-bottom: 2px solid red;
    margin-bottom: 10px;
}
.wrap p{
    margin: 10px 0;
}
.copy{
    border-top: 2px solid red;
    padding-top: 10px;
    font-weight: bold;
}