/* reset */
*{margin: 0; padding: 0;}
a{color: inherit; text-decoration: none;}
b,strong,h1,h2,h3,h4,h5,h6{font-weight: inherit; font-size: inherit;}
i,em,address{font-style: inherit;}
ul,ol{list-style: none;}

/* common */
html{
    font-family: "Noto Sans KR", sans-serif;
    /* "Noto Sans KR"등록된 폰트명으로 적용한다, 그런데 만약 이 등록명으로 폰트가 등록되어있지 않다면 획이없는 고딕체계열로 적용한다. */
    font-size: 20px;
}
@font-face{ 
        font-family: "PulmuoneLOHAS";
        src: url(../font/PulmuoneLOHASBold.woff);}

/* 대략적인 레이아웃 */
.wrap{
    border: 1px solid red;
    width: 980px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.pul{
    border: 1px solid blue;
   font-family: "PulmuoneLOHAS";
   font-weight: bold;
   margin-bottom: 40px;
}
.wrap p{
  margin-bottom: 40px;
}
.mt100{margin-top: 100px;}
.wrap h2 img{
    border: 1px solid red;
    vertical-align: middle;
}