/* 이 파일은 브라우저에 기본설정되어있는 스타일을 초기화 해주는 파일입니다. */
*{margin: 0; padding: 0;}
a{color: inherit; text-decoration: none;}
b,strong,h1,h2,h3,h4,h5,h6{font-weight: inherit; font-size: inherit;}
i,em,address{font-style: inherit;}
ul,ol{list-style: none;}
table{border-collapse: collapse;}
img{max-width: 100%;}
input{outline: none;}