.classList{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}
.classList>li{
    width: calc((100% - 20px)/3);
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}