*{margin: 0; padding: 0;}
.box{
    border: 10px solid red;
    display: flex;
    width: 700px;
    margin: 0 auto;
    /* flex-wrap: wrap; */
}
.box>div{
    background: lightblue;
    border: 1px solid blue;
    flex-basis: auto;
    flex-shrink: 1;
    /* flex-grow: 1; */
    /* width: 50px; */
}
.box>div:nth-of-type(1){
    flex-shrink: 4;
    flex-grow: 1;
}
.box2{
    border: 10px solid red;
    display: flex;
    width: 700px;
    height: 500px;
    margin: 50px auto;  
}
.box2>div{
    background: lightblue;
    border: 1px solid blue;
    flex: 1;
    transition: all 1s ease 0s;
    /* 
        flex-basis:0%; 
        flex-grow:1;
        flex-shrink:1;
    */
}
.box2>div:hover{
    flex: 2;
}
.box2>div:nth-of-type(4){
    border: 1px solid green;
    order: 3;
    align-self: flex-end;
}
.box2>div:nth-of-type(1){
    border: 1px solid green;
    order: 4;
}
.box2>div:nth-of-type(2){
    border: 1px solid green;
    order: 2;
    align-self: flex-start;
}
.box2>div:nth-of-type(3){
    border: 1px solid green;
    order: 1;
    align-self: center;
}
.box3{
    border: 1px solid black;
    width: 1200px;
    margin: 0 auto; 
    display: flex;
}
.box3>section{
    border: 1px solid blue;
    width: 100px;
    flex-grow: 1;
}
.box3>section:last-of-type{
    flex-shrink: 2;
    flex-grow: 3;
    /*100픽셀일 때 그로우가 작동*/
}