.box{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    /* transition-property: border;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0s; */
    transition: all 1000ms ease 0s;
}
.box:hover{
    border: 60px solid red;
    width: 600px;
    /* hover하기전에 설정 */
}