*{margin:0;padding:0;}
a{color:inherit;text-decoration: none;}
ul,ol{list-style: none;}
img,video{max-width:100%;}
table{border-collapse: collapse;}

/* common */
html{
    color:#333;
    font-size:16px;
}
/* layout */
.modal{
    position: fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:#000;
    opacity: 0.8;
    z-index: 90;
    display:none;
}
.modal.on{display: block;;}
.popup{
    border:1px solid black;
    position:fixed;
    left:200px;
    top:200px;
    width:400px;
    background-color: #fff;
    padding:20px;
    z-index: 100;
    display:none;
}
.popup.on{display:block;}
.btn_close{
    display: block;
    border:1px solid #000;
    width:100px;
    height:50px;
    line-height: 50px;
    margin-left:auto;
    text-align: center;
}
.all{
    width:1200px;
    margin:0 auto;
}
header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height:100px;
    position: relative;
    z-index: 50;
}
.gnb{
    display:flex;
    align-self: flex-end;
}
.gnb:before{
    content:"";
    position:absolute;
    width:100%;
    height:0px;
    background:#fff;
    left:0;
    top:100px;
    transition:all 0.6s ease 0s
}
.gnb:hover:before{height:200px;}
.gnb>li{
    width:150px;
    height:50px;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gnb>li>a{
    font-weight: bold;
    display: flex;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
}
.gnb>li>ul{
    position:absolute;
    left:0;
    top:50px;
    width:100%;
    height:0px;
    overflow: hidden;
    transition:all 0.6s ease 0s;
}
.gnb:hover>li>ul{height:180px;}
.gnb>li>ul>li>a{
    padding:10px;
    display:block;
}
.gnb a:hover{
    background:blue;
    color:#fff;
}

/* station */
.station{
    width:1200px;
    height:300px;
    overflow: hidden;
}
.train{
    display:flex;
    width:300%;
    height:100%;
    transition:all 1s ease 0s;
}
.train>li{flex:1;}
.contents{
    width:100%;
    height:200px;
    display: flex;
}
.contents>section{ flex:1;}
.tab_menu{
    width:400px;
    height:200px;
    position: relative;
}
.tab_menu>dt{
    float:left;
    width:100px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab_menu>dt.on{background:pink;}
.tab_menu>dd{
    position:absolute;
    left:0;
    top:50px;
    width:100%;
    height:150px;
    display: none;
}
.tab_menu>dt.on+dd{display: block;}
.notice>li{
    margin-bottom:5px;
    display:flex;
    justify-content: space-between;
}
.gallery{display:flex;}

.direct{
    background:url("../img/direct.jpg") no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background:rgba(0, 0, 255, 0.778);
    color:#fff;
    padding:10px 24px;
}

/* footer */
footer{
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#000;
    color:#fff;
}
.sns_list{display: flex;}