@font-face{
    font-family:"내가등록한내폰트";
    src:url("../font/YEONGJUSeonbi.ttf");
}
/* 지금부터 폰트를 등록하겠다 등록할 폰트정보는 중괄호 안에 있다. */
/* 순수하게 영문자로만 등록명을 작성하면 쌍따옴표나 홀따옴표 쓸 필요없다.
등록할 때 등록명에 특수문자 혹은 한글이 들어가면 앞뒤로 쌍따옴표 혹은 홀따옴표를 넣을 것*/
.f_yj{font-family: "내가등록한내폰트";}
.f20 .f30{font-size: 50px;}


@font-face{
    font-family: "갈무리11";
    src:url(../font/Galmuri11.ttf);
}
.f_ga{font-family: "갈무리11";}

.f20{font-size: 20px;}
.f30{font-size: 30px;}
.f50{font-size: 50px;}
