.wrap{width: 1200px; margin: 0 auto}
.popup{
    padding: 10px;
    border: 1px solid black;
    width: 350px;
    background: white;
    position: fixed;
    left: 100px;
    top: 100px;
}
.popup.hide{display: none;}
.popup_view{min-height: 300px;}
.popup_view img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.popup_ctl{text-align: right;}