.box p{
    color: violet;
}
/*box클래스 안에 포함되어있는 자손p태그들 선택*/

.box>p{
    color: blue;
}
/*box클래스안에 포함되어있는 자식p태그들 선택*/

.first_ptag~p{
    color: red;
    text-decoration: underline;
    /*밑줄스타일*/
}
.first_ptag+p{
    text-decoration: line-through;
}
/*취소선스타일*/

p:nth-of-type(1){
    border: 5px dotted blue;
}
/* 같은p태그의 타입 중에서 첫번째p태그를 선택 */

#list>li:nth-of-type(2n+1){
    background-color: olive;
}
/* 괄호 안에는 숫자말고 n을 사용하여 수식을 입력할 수도 있다. */

[for]{
    color: red;
}
/* for라는 속성이 있는 태그들 선택 */

[for="u_name"]{
    font-weight: bold;
}
/* for라는 속성에 u_name이라는 속성값이 들어가는 태그들 선택 */

label[for="u_name"]{
    font-style: italic;
}
/* for라는 속성에 u_name이라는 속성값이 들어가고 태그명까지 label태그인 태그들을 선택 */

[checked]+label{
    color: blue;
    text-decoration: underline;
}

/* checked라는 속성이 있는 태그들의 다음형제 label태그 하나를 선택 */