p#cc{color: red;} /*101*/
#cc{color: blue;} /*100*/
p.a.b{color: red;} /*21*/
p.a{color: black;} /*11*/
.a{color: green;} /*10*/
.a{color: purple;} /*10*/
p{color: red;} /*1*/
/* p{color: blue!important;} */

div.box p.desc.haha{
    color: blue;
} /*32*/

.desc{color: red;} 
p.desc{color: blue;}
div p.desc{color: green;} /*12*/
.box p desc{color: red;}
div.box p.desc{color: green;}