h1:hover{
    /* 마우스를 올린 h1태그를 선택한다. */
    background: orange;
    color: darkgreen;
}
h1:active{
    text-align: center;
}
a:link{
    font-size: 5rem;
    /* href속성이 명시되어있는 겨우 */
    color: orange;
}
a:visited{
    color: orange;
    text-decoration: line-through;
    /* 방문한 적이 있는 링크 스타일 */
}
.list:before{
    /* 클래스가 리스트인 태그들의 첫번째 자식태그를 가상으로 만든다. */
    /* 가상before태그를 만든다. */
    /* 기본 display inline */
    content: "첫째자식 가상태그 before";
    border: 1px solid red;
    height: 100px;
}
.list::after{
    /* 클래스가 리스트인 태그들이 마지막 자식태그를 가상으로 만든다 */
    /* 가상after태그를 만든다. */
    /* 기본 display inline */
    content:  마지막 가상태그 after;
    border: 1px solid red;
}
.list>li{
    border: 1px solid blue;
}