*{margin: 0; padding: 0;}
ul{list-style: none;}
img{max-width: 100%;}

.station{
    width: 100;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}
.train{
    width: 100%;
    height: 100%;
    position: relative;
}
.train>li{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    /* 마우스 이벤트에 반응하지 않게됨 */
    transition: all .8s ease 0s;
}
.train>li.on{
    opacity: 1;
    pointer-events: auto;
    /* 마우스 이벤트에 반응하도록 */
}
.train>li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.controler{
    position: absolute;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
}
.controler span{color: white;}