.box1{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    border-radius: 100px;
    transition: all 1s ease 0s;
}
.box1:hover{
    border-radius: 0px;
}
.box2{
    border: 1px solid black;
    width: 300px;
    height: 400px;
    border-radius: 50%; /* 50% = 150px */
    transition: all 1s ease 0s;
}
.box2:hover{
    border-radius: 0px;
}
.box3{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    border-radius: 10px 50px;
}
.box4{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    border-radius: 10px 30px 50px 70px;
    /* 시계방향으로 따로따로 다른값을 지정할 수 있다. */
}