*{margin:0; padding:0;}
.box1{
    border: 1px solid red;
    width: 50vw;
    height: 50vw;
    min-height: 300px;
    max-height: 600px;
    /*
     화면너비의 50%만큼 선택한 태그의 너비높이를 지정함. 그렇기 때문에 화면너비를 줄이거나 늘리면 그에 따라 같이 태그의 너비가 늘어나거나 줄어든다. 
        최소 높이를 300픽셀로 제한함
        최대 높이를 600픽셀로 제한함
    */
}
.box2{
    border: 1px solid black;
    width: 50vh;
    height: 50vh;
    min-width: 300px;
    max-width: 400px;
    /* 
        화면높이의 50%만큼 선택한태그의 너비높이를 지정. 그렇기 때문에 화면높이를 늘리거나 줄이면 그에 따라 태그의 너비높이도 같이 늘어나거나 줄어듬. 
        최소 너비를 300픽셀로 제한함
        최대 너비를 400픽셀로 제한함
    */
}
.box3{
    border: 1px solid black;
    /* width: 1400px; */
    height: 500px;
    background: #888;
}
.innerbox3{
    border: 1px solid lime;
    width: 50%; /* 700픽셀 */
    height: 50%; /*250픽셀*/
}